# System-added Files
Thumbs.db
.DS_Store

# Environment Folders
/test
/.vscode

# Releases
/releases

# Working files
**/*.xcf
**/*.txt
plans.md

# Build Script
**/build.ts
/node_modules
package-lock.json
package.json