# System-added Files
Thumbs.db
.DS_Store

# Environment Folders
/test
/.vscode
/.vs
/.idea

# Releases
/releases

# Working files
**/*.xcf
**/*.txt
plans.md

# Build script files
dprpbuilder.ini
*.log